.hero-backend{
  position: relative;
  .wrap-hero-title{
    position: relative;
    top: 35px;
    .hero-title{
      display: flex;
      justify-content: center;
      font-size: 100px;
      font-weight: 600;
      margin: 0;
    }
    .hero-subtitle{
      display: flex;
      justify-content: center;
      margin: 0;
    }

  }
  img{
    position: relative;
    top: -26px;
  }


  .black-rectangle{
    width: 100%;
    background-color: black;
    height: 650px;
    transform: skewY(-25deg);
    position: absolute;
    top: 270px;
    z-index: -1;
  }
}

.intro{

 //width: 100%;
 height: 400px;
 h2{
    margin: 0;
    padding: 0;
    width:40%;
    font-size: 65px;
    }
  .white{
    position: relative;
    top: 35%;
    left: 15%;
    color: white;


  }
  .black{
    position: relative;
    top: 75%;
    left: 55%;
    color: black;

  }
}
.banner-backend{
    display: flex;
    align-items: center;
    margin: 170px 75px;
    .banner-backend-wrap{
    border-style: solid;
    /* height: 480px; */
    border-color: #b3c6f9;
    border-radius: 10px;
    border-width: 3px;
    padding: 16px;
      p{
        opacity: 0.8;
      }
    }
}

.black-banner{
  background-color: black;
  width:100%;
  height:200px;
}
 .wrap-db{
  margin:50px;
  display: flex;
  .db-content-left {
    align-self: flex-end;
    margin-left: 20px;
    padding: 33px;
    margin-left: 20px;
    border-style: solid;
    height: 480px;
    border-color: #0c26584a;
     border-radius: 15px;
     border-width: 7px;
     background-color: white;
  }
  .db-content-right {
    padding: 10px;
    margin-left: 20px;
    padding: 33px;
    margin-left: 20px;
    border-style: solid;
    height: 480px;
    border-color: #e60b63;
     border-radius: 15px;
     border-width: 7px;
     background-color: white;
  }


 }
