// article section
//
//
.article{
  background-color: white;
  padding-bottom: 40px;

  .card-category {
    background-position: 73% 18%;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    border-radius: 0 0 0% 320% / 97%;

    //border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

    // h2{
    // margin: 0;
    // padding: 0;
    // font-size: 124px;
    // line-height: 273px;
    // font-weight: bold;
    // letter-spacing: 35px;
    // color:#FBF5F3;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
    // }

    h2 {
   margin: 0;
    padding: 0;
    font-size: 124px;
    line-height: 273px;
    font-weight: bold;
    letter-spacing: 35px;
    color: #742382;
    background-image: -webkit-linear-gradient(#ffffff, #b4b9af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    background-color: transparent;
    filter: blur(0.8px);
    //text-shadow: 1px 1px 3px rgba(255,255,250,0.2);
    }

    h2:after {
        background: none;
        content: attr(data-text);
        left: 50%;
        position: absolute;
        text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.33);
        bottom:  0;
        z-index: -1;
    }
  }

  .article-col{
    //float: right;
    display: flex;
    margin-top: 40px;

    .article-info{
      padding: 30px;
    }

    img{
      padding: 30px;
      border-radius: 7%;
    }
  }
}

.typo-background{
  width:100%;
}

.typo{
  background-color: white;
  background-position: cover;
  display: flex;
  width: 800px;
  height: 350px;
  margin: 200px auto;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  border-right: solid;
  border-bottom-left-radius: 50px 30px;
  border-top-left-radius: 25px;
  .typo-content {
    padding: 25px;
    p {
      opacity: 0.7;
    }
  }
}

.front-background img {
  margin: 10px auto;
  display: block;
}


.negative{
  margin: 200px 0;
  background-color: white;
  padding-bottom: 90px;
  h2{
    font-size: 55px;
    font-weight: 600;
    padding: 80px;
  }
  img{
    width: 100%;
  }
  .triangle-text{
    position: relative;
    p{
      position: absolute;
      top: 46%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 29%;
      text-align: center;
      font-size: 22px;
    }
  }
}

.hands-wrap{
    display: flex;
    width: 100%;
    background-color: #BCABAE;
    img{
      width: 45%;

    }
}

.typo-hands{
  background-color: white;
  background-position: cover;
  display: flex;
  width: 800px;
  height: 350px;
  margin: 200px auto;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  border-right: solid;
  border-bottom-left-radius: 50px 30px;
  border-top-left-radius: 25px;
   img{
      width: 45%;
      border-bottom-left-radius: 50px 30px;
      border-top-left-radius: 25px;

    }
  .typo-hand-content {
    padding: 25px;
    p {
      opacity: 0.7;
    }
  }
}

.project-title-position{
  display: flex;
  justify-content: center;
}

.project-title{
  padding: 40px;
}

.project-details-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  height: 100vh;
  .frame-content img {
    width: 100%;
    height: 500px;
  }
  .frame-menu{
    align-self: center;
  }
}


@media only screen and (max-width: 600px) {
  .article .article-col {

    flex-direction: column;
    img{
      width: 100%;
    }
  }
  .typo {
    width: 100%;
    height: auto;
    display: block;
    img {
      width: 100%;
      border-bottom-left-radius: 50px 30px;
    }
  }

  .front-background img {
    width:100%;
  }

  .negative .triangle-text p {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 18px;
    top: 0;
    left:0;
    transform: inherit;
  }

  .typo-hands {
    background-color: white;
    background-position: cover;
    display: block;
    width: 100%;
    height: auto;
    img {
          width: 100%;

    border-top-left-radius: 25px;
    }
  }

}

