// Specific CSS for your home-page
//
// cards section

.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 2;
    overflow: hidden;

}

.loader marquee {
    opacity: 0.2;
    text-transform: uppercase;
    line-height: 180px;
    margin: 0;
    padding: 0;
    color: #646464;
    font-size: 200px;
    font-family: "Cinzel";
}

.loader .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loader .intro h1 {
    font-size: 114px;
    text-transform: uppercase;
    font-weight: 200;
    color: #fff;
    font-family: "Cinzel";
}

.intro-title .letter {
    display: inline-block;
    line-height: 1em;
}


.cards-container{
  //height: 100vh;
}

.grid-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px 15px;
  margin: 15px;
  margin-bottom: 200px;
  margin-top: 70px;



  a {
    color: #0E0000;
    text-decoration: none;
    background-color: transparent;
    &:hover{
      color: #0E0000;
      text-decoration: none;
      background-color: transparent;
    }
  }


}

.card-info{
  width: 300px;
  height: 300px;
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 10px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;

  h2 {
    color: #E71D36;
    font-size: 25px;
    font-weight: lighter;
    font-weight: 600;
  }
  p {
    opacity: 0.6;
  }
  .list-inline li {
      display: inline;
      padding: 10px;
  }

  .list-inline i {
    font-size: 50px;
    color: rgb(230, 230, 230);
  }



  a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    //color: #6B72E1;
    font-weight: 600;
    font-size: 16px;
  }

  a:hover{
    text-decoration: none;

  }

  .list-inline i:hover {
      color: black;
  }
}



.espace-footer{ margin-bottom: 1000px; }
