.frame-grid{
  width: 100%;
    overflow: hidden;
}

.language-grid{
  display:grid;
  width: 100vw;
  grid-template-columns: repeat(auto-fill, 10vw);
  grid-auto-rows: 11.547vw;
}

#grid1 {
  position: absolute;
  transform-origin: 0 0;
  transform: skewY(-30deg);
}

#grid2 {
  position: absolute;
  transform-origin: 100% 0;
  transform: skewY(30deg);
}

#grid3 {
  position: relative;
  width: 600vw;
  transform-origin: 500vw 0;
  transform: translatex(-500vw) rotatez(-60deg) skewY(30deg);
}

#grid1>div{
  color: black;
  border: black 1px solid;
}

#grid2>div{
  color: red;
  border: red 1px solid;
  text-align: right;
}

#grid3>div{
  color: green;
  border: green 1px solid;
  text-align: center;
}

#grid1 > div:nth-child(1){
  grid-column: 1;
  grid-row: 2;
}
#grid1 > div:nth-child(2){
  grid-column: 2;
  grid-row: 3;
}
#grid1 > div:nth-child(3){
  grid-column: 4;
  grid-row: 3;
}
#grid1 > div:nth-child(4){
  grid-column: 3;
  grid-row: 4;
}
#grid1 > div:nth-child(5){
  grid-column: 4;
  grid-row: 6;
}
#grid1 > div:nth-child(6){
  grid-column: 5;
  grid-row: 5;
}
#grid1 > div:nth-child(7){
  grid-column: 7;
  grid-row: 8;
}
#grid1 > div:nth-child(8){
  grid-column: 8;
  grid-row: 5;
}
#grid1 > div:nth-child(9){
  grid-column: 10;
  grid-row: 8;
}
#grid2 > div:nth-child(1){
  grid-column: 1;
  grid-row: 8;
}
#grid2 > div:nth-child(2){
  grid-column: 3;
  grid-row: 5;
}
#grid2 > div:nth-child(3){
  grid-column: 5;
  grid-row: 4;
}
#grid2 > div:nth-child(4){
  grid-column: 3;
  grid-row: 8;
}
#grid2 > div:nth-child(5){
  grid-column: 6;
  grid-row: 6;
}
#grid2 > div:nth-child(6){
  grid-column: 5;
  grid-row: 8;
}
#grid2 > div:nth-child(7){
  grid-column: 7;
  grid-row: 4;
}
#grid2 > div:nth-child(8){
  grid-column: 8;
  grid-row: 5;
}
#grid2 > div:nth-child(9){
  grid-column: 10;
  grid-row: 2;
}
#grid3 > div:nth-child(1){
  grid-column: 51;
  grid-row: 4;
}
#grid3 > div:nth-child(2){
  grid-column: 49;
  grid-row: 5;
}
#grid3 > div:nth-child(3){
  grid-column: 47;
  grid-row: 5;
}
#grid3 > div:nth-child(4){
  grid-column: 53;
  grid-row: 4;
}
#grid3 > div:nth-child(5){
  grid-column: 51;
  grid-row: 6;
}
#grid3 > div:nth-child(6){
  grid-column: 49;
  grid-row: 7;
}
#grid3 > div:nth-child(7){
  grid-column: 52;
  grid-row: 7;
}
#grid3 > div:nth-child(8){
  grid-column: 50;
  grid-row: 9;
}
#grid3 > div:nth-child(9){
  grid-column: 49;
  grid-row: 10;
}




