// .profile-grid{
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   width: 90%;
//   position: relative;
// }

.diamond-position{
    height:100vh;
    margin:0;
    background: #000;
    margin-bottom: 30%;
}

#big_diamond{
    width:50%;

    float:left;

    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    //height:100%;

    background: #000;
    margin-left: 25%;
    margin-top: 17%;
}

#red{
    background-color:#AA1C08;
}

.diamond{
    width: 31.33%;
    //height: 31.33%;
    padding-bottom:31.33%;
    margin:1%;
    background:#fff;
    float:left;
    position:relative;

    h2{

    transform: rotate(-45deg);
    /* margin: 70px; */
    position: absolute;
    top: 30%;
    left: 8%;

    }
}
.diamond a{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  &:hover{

  }
}

@media only screen and (max-width: 600px) {
  .diamond-position{
    height:50vh;
    margin:0;
    background: #000;
    margin-bottom: 30%;
    #big_diamond{
     // margin-left: 15%;
    }
  }



}

/* @end */
// ul {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   margin: 0;
//   padding: 0;
//   width: 600px;
//   height: 150px;
// }

// ul li {
//   list-style: none;
//   position: absolute;
//   width: 200px;
//   height: 200px;
//   background: #000;
//   margin: -100px;
//   transform: rotate(45deg);
//   transition: .5s;
//   overflow: hidden;
//   opacity: .5;
// }

// ul li:hover {
//   opacity: 1;
// }

// ul li.item1{
//   top: 0;
//   left: 0;
// }

// ul li.item2{

//   bottom: 0;
//   left: 25%;
// }

// ul li.item3 {
//   top: 0;
//   left: 50%;
// }

// ul li.item4 {
//   bottom: 0;
//   left: 75%;
// }

// ul li.item5 {
//   top: 0;
//   left: 100%;
// }
