

@media only screen and (max-width: 600px) {
  .diamond-position{
    height:50vh;
    margin:0;
    background: #000;
    margin-bottom: 30%;
    #big_diamond{
     // margin-left: 15%;
    }
  }



}






.rotate-grid{
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(0,0,0,0.8)), asset-url("design-tools.jpg");
  color: white;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  .rotate-wrapper{
    padding-top: 160px;
    transform: rotate(45deg);
    padding-left:100px;

    .box{
      background:linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(0,0,0,0.8)), asset-url("design-tools.jpg");
      background-size: cover;
      background-position: center;
      display: inline-block;
      height:120px;
      width: 120px;
      overflow: hidden;
      background-position: cover;

    }

    .box:hover{
      background:linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(0,0,0,0.1)), asset-url("design-tools.jpg");
      background-size: cover;
      background-position: center;
      display: inline-block;
      height:120px;
      width: 120px;
      overflow: hidden;
      background-position: cover;
    }

    .box p{
      color: black;
      transform: rotate(-45deg);
      padding: 5px;
      font-size: 25px;
      margin-top: 22px;
      margin-left: 13px;
    }
  }
}
