.header-project{
  display:flex;
  justify-content: space-around;
  margin: 25px;
  h1{
    align-self:center;
  }
}


.project-grid {
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 30px;
    margin: 15px;
    grid-template-rows: 400px;

    .wrap-notif {
      overflow: scroll;
      height: 90%;
      align-self: center;
    }





}



.project-cart{
  display: flex;
  height: 400px;
  border-radius: 11px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img{
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
    object-fit: cover;
  }
  .project-wrap-content{
    padding:25px;
    h2{
      font-weight: bold;
    }
    p{
      font-size: 16px;
      opacity: .7;
      margin: 0;
    }
    .project-cart-footer{
      display: flex;
      justify-content: space-between;
      margin-top: 45px;
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
          display: inline;
          span{
            margin-left: 7px;
          }
        }
        li:nth-child(2) {
          margin-left: 10px;
        }
      }
    }
  }
}

// tab notif column
//

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);

}

.notif-active > .notification-actions {
      opacity: 1 !important;
  }

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
