<div class="hero-backend">
  <div class="wrap-hero-title">
    <h1 class="hero-title">Backend</h1>
    <h2 class="hero-subtitle">Wire your Shop</h2>
  </div>
  <%= image_tag "server.svg" %>
  <div class="black-rectangle">
  </div>
</div>
<div class="intro">
    <h2 class="white">Why I care ?</h2>
    <h2 class="black">How much ?</h2>

</div>
<div class="banner-backend">
  <div class="banner-backend-wrap">
    <h3>Hello</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    </p>
  </div>
  <%= image_tag "aws.png"%>
</div>
<div class="black-banner">

</div>
<div class="wrap-db">
  <div class="db-content-left">
    <h2>Hello</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    </p>
  </div>
  <%= image_tag "database.webp"%>
   <div class="db-content-right">
    <h2>Hello</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    </p>
  </div>
</div>


