<div class="rotate-grid">
  <div class="rotate-wrapper">
    <div class="rotate-row">
      <div class="box">
        <p>Strategy</p>
      </div>
      <div class="box">
        <p>Creative</p>
      </div>
      <div class="box">
        <p>Content</p>
      </div>
    </div>
    <div class="rotate-row">
      <div class="box">
        <p>Technology</p>
      </div>
      <div class="box" style="background:url(<%= image_path 'design-tools.jpg' %>); background-size: cover;
    background-position: center;">
        <p>Cost</p>
      </div>
      <div class="box">
        <p>Evolving</p>
      </div>
    </div>
    <div class="rotate-row">
      <div class="box">
        <p>Contact</p>
      </div>
      <div class="box">
        <p>..</p>
      </div>
      <div class="box">
        <p>..</p>
      </div>
    </div>
  </div>
</div>


<!-- <div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell numbers">
                    98%
            </div>
        </div>
    </div>
</div>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell numbers">
                    98%
            </div>
        </div>
    </div>
</div>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell numbers">
                    98%
            </div>
        </div>
    </div>
</div>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell numbers">
                    98%
            </div>
        </div>
    </div>
</div>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell numbers">
                    98%
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="diamond-position">
  <div id="big_diamond">
    <div class="diamond"><a href="#"><h2>
      Strategy
    </h2></a></div>
    <div class="diamond"><h2>
      Creative
    </h2></div>
    <div class="diamond"><h2>
      Content
    </h2></div>
    <div class="diamond"><h2>
      Technology
    </h2></div>
    <div class="diamond" id="red"></div>
    <div class="diamond"><h2>Cost</h2></div>
    <div class="diamond"><h2>Raking</h2></div>
    <div class="diamond"><h2>Tailor</h2></div>
    <div class="diamond"><h2>--</h2></div>
  </div>
</div>
 -->



   <div class="profile-item">
    <%=  image_tag "design-object.png", width:100, height: 100 %></li>
  </div>

<div class="container">

  <div class="row">
   <h1>hello</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    </p>
  </div>
  <div class="row">
   <h1>hello</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    </p>
  </div>
  <div class="row">
    <h1>hello</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    </p>
  </div>
  <div class="row">
    <h1>hello</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    </p>
  </div>
  <div class="row">
    <h1>hello</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    </p>
  </div>
</div>


<!-- <div class="container-profile">

<div class="grid">

<div><h2>hello</h2></div>
<div><h2>hello</h2></div>
<div><h2>hello</h2></div>
<div><h2>hello</h2></div>
<div><h2>hello</h2></div>
<div><h2>hello</h2></div>
<div><h2>hello</h2></div>
<div><h2>hello</h2></div>
<div><h2>hello</h2></div>
</div>

</div>


<div class="diamond-grid">
  <div class="diamond-cell"><a href="#">Lorem.</a></div>
  <div class="diamond-cell"><a href="#">Non!</a></div>
  <div class="diamond-cell"><a href="#">Amet.</a></div>
  <div class="diamond-cell"><a href="#">Perferendis.</a></div>
  <div class="diamond-cell"><a href="#">Tempora.</a></div>
  <div class="diamond-cell"><a href="#">Pariatur?</a></div>
  <div class="diamond-cell"><a href="#">Reiciendis.</a></div>
</div>



 -->
